<div id="main" class="container-fluid">
  <div class="full">
    <nav class="navbar navbar-simple navbar-fixed-top" role="navigation">
      <div class="navbar-inner">
        
        {{#link-to "maps" class="btn-forests pull-left"}}<div class="globe-logo"></div>{{/link-to}}
        {{#link-to "welcome" class="navbar-brand"}}{{unbound Forests.app_title}}{{/link-to}}

        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul id="main-menu" class="nav ">
     
            {{#link-to "headlines" "lost" tagName="li"}}<a {{bind-attr href="view.href"}}>Lost <br>Services</a>{{/link-to}}
            <li><h3><span class="glyphicon glyphicon-chevron-right"></span></h3></li>
            {{#link-to "headlines" "forest"tagName="li"}}<a {{bind-attr href="view.href"}}>Forest <br>Loss</a>{{/link-to}}
            <li><h3><span class="glyphicon glyphicon-chevron-right"></span></h3></li>
            {{#link-to "headlines" "climate" tagName="li"}}<a {{bind-attr href="view.href"}}>Climate <br>Change</a>{{/link-to}}
          </ul>
        </div>
      </div>
    </nav>
    {{outlet}}
    {{outlet modal}}    
      
  </div>
</div>
