<div id="main">
  <div class="col-md-12 full">
    <nav class="navbar navbar-simple navbar-fixed-top" role="navigation">
      <div class="navbar-inner">
        
        {{#link-to "maps" class="btn-forests pull-left"}}<div class="globe-logo"></div>{{/link-to}}
        {{#link-to "welcome" class="navbar-brand"}}<h1>{{unbound Forests.app_title}}</h1>{{/link-to}}

        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul id="main-menu" class="nav ">
            {{#link-to "summary" tagName="li"}}<a {{bind-attr href="view.href"}}><h3>Summary</h3></a>{{/link-to}}
            {{#link-to "method" tagName="li"}}<a {{bind-attr href="view.href"}}><h3>Methods</h3></a>{{/link-to}}
            {{#link-to "about" tagName="li"}}<a {{bind-attr href="view.href"}}><h3>About</h3></a>{{/link-to}}
            {{#link-to "climate" tagName="li"}}<a {{bind-attr href="view.href"}}><h3>Climate Change</h3></a>{{/link-to}}
          </ul>
        </div>
      </div>
    </nav>
    {{outlet}}
    {{outlet modal}}    
      
  </div>
</div>
