<section class="full-height" {{bind-attr id="headline.classId"}}>
<div class="bcg">
  <div class="fill-lite">
    <div class="hsContainer">
      <div class="hsContent">
        <h1>{{headline.title}}</h1>
        {{#if headline.detail}}
        <button class="btn-text" {{action "toggleDetail" headline.detailId}}>Learn More  <i class="glyphicon glyphicon-chevron-down"></i></button>
        {{else}}
        {{/if}}
      </div>
    </div>
  </div>
</div>
</section>

<div class="detail" {{bind-attr id="headline.detailId"}}>
  <div class="hsContainer">
    <div class="hsContent" style="color:black;">
  <div class="row">
    <div class="col-md-12">
     <!--  <h2>Details</h2> -->
	   <h2></h2>
    </div>
    
  </div>
  {{{headline.detail}}}
  {{#if headline.chart}}
   <!-- <hr> --> 
    <div class="row textMd">
       Click on a tree species below
    </div>
    {{render "charts"}} 
  {{else}}
  {{/if}}
    
   <button class="btn-text" {{action "toggleDetail" headline.detailId}}>Close <i class="glyphicon glyphicon-chevron-up"></i></button>
    </div>
  </div>
</div>
