<section class="full-height">
  <div class="bcg">
    <div class="fill-lite" style="background: none">
      <div class="hsContainer"> 
        <div {{bind-attr id="headline.mountainName"}} class="row chartContent full-height center chartDetail" style="height: 100%;">
          <div class="row">
            <div class="col-md-12 chartAlign" style="height:100%; width:100%;">
            {{#if headline.local}}
              {{#each mountain in localMountains}}
                {{view "mountain"}}
              {{/each}}
            {{else}}
              {{#each mountain in globalMountains}}
              {{view "mountain"}}
              {{/each}}
            {{/if}}
            </div>
          </div>
          <div {{bind-attr id="headline.mountainContainer"}} class="row mountain">
              <div class="col-md-12">
              <div class="row">
                <div class="col-md-6">
                  <h3>Best case greenhouse gas emission scenario</h3>           
                </div>
                <div class="col-md-6">
                  <h3>Worst case greenhouse gas emission scenario</h3>
                </div>
                </div>
                <div class="chartAlign">
                  <img {{bind-attr id="headline.combinedContainer"}} class=""></img>
                  </div>
                </div>
                <div class="row col-md-12">
                  <button class="btn-chart" {{action "toggleMountain"}}>Close mountainView<i class="glyphicon glyphicon-chevron-up"></i></button>
                
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

