<div class="bcg screen" id="screen-tutorial" data-video="http://player.vimeo.com/external/97766233.hd.mp4?s=2f0b495f08bcaa3aa3ac996af32cc3f2">
  <div class="row full-height">
    <div class="col-sm-12 map-overlap">
      <div class="col-md-3 full-height" style="padding-top: 200px;">
        <div class="form-horizontal" style="width=100%;">
          <p style="color:white; text-shadow: 0px 2px 3px #666;">Step 1: Choose a Species</p>
          <div class="form-group">
            <div class="controls">
             {{view Ember.Select
                id="plantSelect"
                contentBinding="controllers.plants.content"
                optionValuePath="content.sci_name"
                optionLabelPath="content.name"
                valueBinding="selectedPlant"
               
                prompt="Select a Species"}}
            </div>
          </div>
          <div class="form-group" id="rcp-group" style="visibility:hidden">
          <div class="rcp-toolbar btn-group" vertical-align="center">
          <p style="color:white;">Step 2: Choose an Climate Scenario</p>
            <label for="best-case"><div id="best-case-label"></div>
              {{view Forests.RadioButton id="best-case" name="rcp-radio" selectionBinding="selectedRcp" value="rcp26"}}
             <div class="best-case-label"></div>
             <h3 id="rcp26-label">Best</h3>
            </label>
            <label  for="worst-case">
              {{view Forests.RadioButton id="worst-case" name="rcp-radio" selectionBinding="selectedRcp" value="rcp85"}}
            <div class="worst-case-label"></div>
            <h3 id="rcp85-label">Worst</h3>
            </label>
          </div>
          </div>
          <div class="form-group" id="year-group" style="visibility:hidden">
          <p style="color:white">Step 3: Pick a year</p>
            <button class="btn-forests" id="current" {{action "switchCurrent"}} value="2011"><h1>Now</h1></button>
            <button class="btn-forests" id="future" {{action "switchFuture"}} value="2081" {{bindAttr class="isActive:active"}}><h1>2081</h1></button>
          </div>
          <div class="form-group" id="test-group">
          <div class="rcp-toolbar btn-group" vertical-align="center">
          <label for="current-radio">
          {{view Forests.RadioButton id="current-radio" name="year-radio" selectionBinding="selectedYear" value="2011"}}
          <h3 id="current-label" class="control-label">Now</h3>
          </label>
          <label for="future-radio" style="padding-left:20px">
          {{view Forests.RadioButton id="future-radio" name="year-radio" selectionBinding="selectedYear" value="2081"}}
          <h3 id="future-label" class="control-label">2081</h3>
          </label>
          </div>
          </div>
          <div class="form-group" id="submit-group" style="visibility:hidden">
            <!--label for="location" class="col-sm-2 control-label" style="color=white;">Location</label-->
            <!--input type="text" {{action "geocode" earth target="view"}}-->
            <div class="col-sm-12">
              <p style="color:white">Step 4: Get the map</p>

              <button type="submit" class="btn btn-success" {{action 'getMap' target="view.earthInstance"}}>Get Map</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8 pull-right" style="min-height: 80%;padding-top:100px;">

        {{view 'earth' viewName="earthInstance"}}
    </div>
  </div>
</div>


